body{
    font-family: Arial, sans-serif;
    background-color: hsla(0, 0%, 50%, 0.4);
}
.containerP{
    display: flex;
    flex-direction: row;  
}
.formContainer {
    display: flex;
    height: fit-content;
}
.formP{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background: linear-gradient(45deg, hsl(298, 100%, 35%), hsl(115, 100%, 39%));
}
.formP1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background: linear-gradient(45deg, orange, blue);
    margin-left: 675px;
    margin-top: 50px;
}
#titulo{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: hsla(30, 100%, 0%, 0.7);
    background:  linear-gradient(45deg, blue, orange);
    padding: 10px;
    border: solid 3px;
}
#titulo1, #titulo2{
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 1.6rem;
    font-weight: bold;
    color: hsla(30, 100%, 0%, 1);
    background:  linear-gradient(45deg, blue, orange);
    padding: 10px;
    border: solid 3px;
}
#btn{
    margin-top: 2px;
    font-weight: bold;
    background: linear-gradient(45deg, orange, blue);
    color: hsla(0, 0%, 0%, 0.6);
    border: solid 2px;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.7);
    border-color: black;
    align-self: center; 
    padding: 10px;
    font-size: 1.4rem;
    cursor: pointer;  
}
.btn{
    margin-top: 2px;
    margin-bottom: 10px;
    font-weight: bold;
    background: linear-gradient(45deg, yellow, green)   ;
    color: hsla(0, 0%, 0%, 0.8  );
    border: solid 2px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.7);
    border-color: black;
    align-self: center; 
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}
#pokemonName, #pokemonName2{
    font-size: 20px;
    font-weight: bold;
    background-color: hsla(0, 0%, 0%, 0.7);
    color: hsla(86, 100%, 50%, 0.7);
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border: solid 3px hsla(29, 100%, 50%, 0.7);
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.3);
    border-radius: 50px;
    text-align: center;
}

#pokemonName:focus, #pokemonName2:focus{
    outline:none;
}
.info, .info2{
    background: linear-gradient(45deg, red, yellow);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.info3{
    background: linear-gradient(45deg, purple, red);
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    animation: slideDown 2s ease; /* Define a animação slideDown */
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
    opacity: 0; /* Começa com a opacidade 0 para um efeito de fade-in */
}
.nome, .altura, .id, .peso{
    text-align: center;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px;
    color: hsla(231, 100%, 50%, 0.7);
    margin-bottom: 5px;
    border: 3px solid hsla(0, 0%, 0%, 0.7);
    border-radius: 20px;
    width: 300px;
    background: linear-gradient(45deg, hsla(308, 100%, 50%, 0.7), rgba(0, 247, 255, 0.7));
}
.img{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid hsla(0, 0%, 0%, 0.7);
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(45deg, hsla(308, 100%, 50%, 0.7), rgba(0, 247, 255, 0.7));
}

.imgs{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid hsla(0, 0%, 0%, 0.7);
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(45deg, hsla(308, 100%, 50%, 1), rgba(0, 247, 255, 1));
    height: 200px;
}
.formD1{
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1), opacity 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    transform: translateX(-100%);
    pointer-events: none;  
}
.formD1.show{
    transform: translateX(0);
    display: flex;
    opacity: 1; 
    flex-direction: row;
    width: 900px;
    background: linear-gradient(45deg, purple, red);
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    pointer-events: auto;
    transition: transform 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1), opacity 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.formD2{
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1), opacity 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    transform: translateX(0);
    pointer-events: none;
    margin-top: 365px;  
}
.formD2.show{
    transform: translateX(-160%);
    display: flex;
    opacity: 1; 
    flex-direction: row;
    width: 900px;
    background: linear-gradient(45deg, purple, red);
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    pointer-events: auto;
    transition: transform 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1), opacity 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.barra, .barraHP, .barraAtk, .barraDef, .barraSpAtk, .barraSpDef, .barraSpd{
    background: linear-gradient(45deg, blue, orange);
    width: 500px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;   
}
.linha{
    border: 2px solid;
    width: 50px;
    height: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: -3px;
    list-style-type: none;    
}
.att{
    text-align: left;
    font-weight: bold;
    font-size: 0.8rem;
    width: 50px;
    color: white;
}
.spanContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.nomeC, .nomeC1{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: hsla(231, 100%, 50%, 0.7);
    margin-bottom: 5px;
    background: none;
}
.nomeP{
    text-align: center;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px;
    color: white;
    margin-bottom: 5px;
    border: 3px solid hsla(0, 0%, 0%, 0.7);
    border-radius: 20px;
    width: 400px;
    background: linear-gradient(45deg, hsla(308, 100%, 50%, 0.7), rgba(0, 247, 255, 0.7));  
}
@keyframes slideDown {
    from {
        transform: translateY(-100%); /* Inicia a partir do topo (fora da tela) */
        opacity: 0; /* Começa com opacidade 0 */
    }
    to {
        transform: translateY(0); /* Termina na posição original (no centro da tela) */
        opacity: 1; /* Termina com opacidade 1 */
    }
}

















